body{
    margin: 0;
    padding: 0;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    font-family: 'Fira Sans', sans-serif;
    background-size: 100%;
    background-color: black;
}
header{
    width: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.6);
}
#left>img{
   margin: auto;
   margin-top: 2rem;
   margin-left: 2rem;
    width: 100px; 
}

#right{
    margin: 0;
    margin-right: 8%;
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    /* justify-content: space-between; */
    
}
#right>img{
    position: absolute;
    top: 0.1rem;
    left: 200px;
    right: 0px;
    height: 2rem;
    background-color: rgba(0,0,0,0.6);
    
    /* background: transparent; */
}
#right>select{
    margin-left: 12.2rem;
    display: flex;
    padding: 0.3rem 2rem;
    padding-left: 2.5rem;
    background-color: none;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}
#right>select>option{
    color: grey;
    background-color: #1967d2;
}
input::placeholder{
    color: white;
}
#right>select>option:hover{
    background-color: rgb(42, 113, 220);
}
#right>button{
    padding: 0.5rem 2rem;
    background-color: #e50914;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
#intro{
    background-color: rgba(0,0,0, 0.6);
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
    /* background-color: red; */
    padding-top: 11%;
    padding-bottom: 28%;
}
#intro>h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}
#intro>h2{
    margin: 0;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: 400;
}
#intro>p{
    margin: 0.8rem;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 400;
}

#intro>input{
    margin: auto;
    margin-top: 0.5rem;
    width: 20%;
    font-size: 1rem;
    padding: 0.8rem 3rem;
    color: white;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}
#intro>button{
    /* width: 15%; */
    margin-top: 1.5rem;
    background-color: red;
    font-size: 1rem;
    text-align: center;
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 5px;
}
#intro>button>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#intro>button>a>i{
    padding-left: 10px;
    font-size: 1rem;
}

.CV{
    /* background-color: red; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.CV>.CV-cont{
    text-align: left;
    /* background-color: yellow; */
    width: 48%;
    color: white;
}
.CV-video{
    /* background-color: blue; */
    width: 48%;
    position: relative;
}
.CV-cont>h2{
    font-size: 2.5rem;
}
.CV-cont>p{
    font-size: 1.6rem;
}
.CV-video>img{
    width: 100%;
    position: relative;
    z-index: 1;
}
#tv-video>video{
    position: absolute;
    left: 13%;
    top: 20.5%;
    z-index: 0;
    width: 75%;
}
#watch-video>video{
    position: absolute;
    left: 17%;
    top: 9.5%;
    z-index: 0;
    width: 64%;
}
hr{
    border: none;
    width: 100%;
    background-color: #232323;
    height: 8px;
    margin-top: 5rem;
}
#download{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto
}
#download>#down-cont{
    width: 48%;
    color: white;
    align-items: center;
    text-align: left;
}
#down-cont>h2{
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}
#down-cont>p{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
}
#download>#down-img{
    position: relative;
    width: 48%;
    width: 100%;
}
#down-img>div{
    padding: 10px;
    display: flex;
    position: absolute;
    top: 68%;
    left: 17.5%;
    color: white;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    /* padding: 5px; */
}
#down-img>div>#left-img{
    width: 20%;
}
#down-img>div>h5{
    font-size: 0.8rem;
    /* margin-right: 15%; */
}
#down-img>div>#right-img{
    width: 20%;
    display: flex;
    align-items: flex-end;
}

#faq{
    padding: 5rem 0;
    width: 80%;
    margin: auto;
    color: white;
}
#faq>h2{
    width: 100%;
    font-size: 3rem;
    text-align: center;
}
#faq>.faq-cont{
    width: 100%;
    width: 90%;
    margin: auto;
}
.faq-cont>.Questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #2d2d2d;
    font-weight: 100;
    margin-bottom: 1.5px;
}
.Questions>h3{
    font-size: 1.5rem;
}
.faq-cont:hover .ans{
    display: block;
}
.ans{
    background-color: #2d2d2d;
    margin-top: 2px;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    margin-bottom: 5px;
    position: relative;
    display: none;

}
.faq-cont>.ans>p{
    font-size: 1.3rem;
}

footer{
    border-top: 5px solid white;
    padding: 5rem 0rem;
    width:100%;

}
footer>label{
    display: flex;
    justify-content: end;
    padding-left: 10%;
    color: white;
}
footer>div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.fdiv{
    width: 20%;
}
.fdiv>a{
    padding: 1rem;
    font-size: 1rem;
    color: white;
    display: block;
}

@media(max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        background-image: url(./img/banner.jpg);
        background-repeat: repeat-x;
        font-family: 'Fira Sans', sans-serif;
        background-size: 100%;
        background-color: black;
    }
    .CV{
        width: 100%;
    }
    header{
        width: 100%;
        padding:0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0,0,0, 0.6);
    }

    .CV, #download{
        flex-direction: column;
        /* display: block; */
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
    }
    .CV>.CV-cont, #down-cont{
        width: 100%;
        text-align: center;
    }
    .CV>.CV-video{
        width: 100%;
    }
    #down-img{
        position: absolute;
        top: 00%;
        width: 0%;
        width: 100%;
    }
    

    
}